@model Quotes2.Models.Quotation
@{
    ViewBag.Title = "God Powers";
    ViewBag.Message = "Knowledge";
    ViewBag.count = 0;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*Fail Safe*@
@if (ViewBag.NumberOfUsers == null)
{
    ViewBag.NumberOfUsers = 0;
}
@if (ViewBag.NumberOfQuotes == null)
{
    ViewBag.NumberOfQuotes = 0;
}
@if (ViewBag.NumberOfCats == null)
{
    ViewBag.NumberOfCats = 0;
}

<div>Number of Users: @ViewBag.NumberOfUsers</div>
<div>Number of Quotes: @ViewBag.NumberOfQuotes</div>
<div>Number of Categories: @ViewBag.NumberOfCats</div>
<br />
<div>Quotes Per Category:</div>

@foreach (string catName in ViewBag.CatNames)
{
    @catName
    @: : 
    int innerCount = 0;
    foreach (int catNum in ViewBag.CatReps)
    {
        if (innerCount == ViewBag.count)
        {
            @catNum
            break;
        }
        innerCount += 1;
    }
    ViewBag.count += 1;
    <br />
}

@using (Html.BeginForm("Nuke", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Destruction!</h3>
        <hr />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="NUKE IT!" class="btn btn-default" />
        </div>
    </div>
}